html,
body,
#root,
.background,
* {
  /* cursor: pointer !important; */
  cursor: url("../src/assets/arrowhead.png"), auto;
}
#root {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}

.App {
  height: 100%;
  width: 100%;
}
